<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
        <title>Title</title>

	</head>
	<body>
    	<div class="container">
        	<div class="row">
            <h1> Add Squirrel</h1>
            <div class="col -md-8 col-md-offset-2 " >
            	<form action="" method="post ">
                    <p> Longitude: <input type="text" name="longitude"></p >
                    <p> Latitude: <input type="text" name="latitude"></p >
                    <p> Unique Squirrel ID: <input type="text" name="unique_squirrel_id"></p >
                    <p> Shift: <input type="text" name="shift"></p >
                    <p> Date: <input type="text" name="date"></p >
                    <p> Age: <input type="text" name="age"></p >
                    <p> Primary Fur Color: <input type="text" name="primary_fur_color"></p >
                    <p> Location: <input type="text" name="location"></p >
                    <p> Specific Location: <input type="text" name="specific location"></p >
					<p> Climbing: <input type="text" name=" cl ímoing"></p>
                    <p> Eating:<input type="text" name="eating"></p >
					<p> Foraging: <input type="text" name="foraging"></p>
					<p> Other Activities: <input type="text" name="other activities"></p>
                    <p> Kuks: <input type="text" name="kuks"></p>
                    <p> Quaas:<input type="text" name="quaas"></p >
                    <p> Moans:<input type="text" name="moans"></p >
                    <p> Tail flags:<input type="text" name="tail_flages"></p >
					<p> Tail twitches: <input type="text" name="tail_twitches"></p>
                    <p> Approaches:<input type="text" name="approaches"></p >
                    <p> Indifferent:<input type="text" name="indifferent"></p >
                    <p> Runs From:<input type="text" name="runs_from"></p >
                  	<input type="submit" name="submit" >
                </form>
            </div>
            </div>
        </div>
    </body>
</html>