<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
            <h1>update squirrel</h1>
            <div class="col-md-6 col-md-offset-3">
                <form action="" method="post">
                    <input type="hidden" name="unique_squirrel_id" value="{{ squirrel_query.unique_squirrel_id }}">
                    <p>Longitude: <input type="text" name="longitude" value="{{ squirrel_query.longitude }}" class="form-control"></p >
                    <p>Latitude: <input type="text" name="latitude" value="{{ squirrel_query.latitude }}" class="form-control"></p >
                    <p>Shift: <select id="shift" name="shift">
                        <option  value = "{{ squirrel_query.shift }}">--{{ squirrel_query.shift }}--</option >
                        <option  value = "AM">AM</option >
                        <option  value = "PM">PM</option >
                    </select></p >
                    <p>Date: <input type="date" name="date" value="{{ squirrel_query.date }}" class="form-control"></p >
                    <p>Age: <select id="age" name="age">
                        <option  value = "{{ squirrel_query.age }}">--{{ squirrel_query.age }}--</option >
                        <option  value = "Adult">Adult</option >
                        <option  value = "Juvenile">Juvenile</option >
                    </select></p >
                    <p>Primary Fur Color: <input type="text" name="primary_fur_color" value="{{ squirrel_query.primary_fur_color }}" class="form-control"></p >
                    <p>Location: <input type="text" name="location" value="{{ squirrel_query.location }}" class="form-control"></p >
                    <p>Specific Location: <input type="text" name="specific_location" value="{{ squirrel_query.specific_location }}" class="form-control"></p >
                    <p>Running: <select id="running" name="running">
                        <option  value = "{{ squirrel_query.running }}">--{{ squirrel_query.running }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Chasing: <select id="chasing" name="chasing">
                        <option  value = "{{ squirrel_query.chasing }}">--{{ squirrel_query.chasing }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Climbing: <select id="climbing" name="climbing">
                        <option  value = "{{ squirrel_query.climbing }}">--{{ squirrel_query.climbing }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Eating: <select id="eating" name="eating">
                        <option  value = "{{ squirrel_query.eating }}">--{{ squirrel_query.eating }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Foraging: <select id="foraging" name="foraging">
                        <option  value = "{{ squirrel_query.foraging }}">--{{ squirrel_query.foraging }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Other Activities: <input type="text" name="other_activities" value="{{ squirrel_query.other_activities }}" class="form-control"></p >
                    <p>Kuks: <select id="kuks" name="kuks">
                        <option  value = "{{ squirrel_query.kuks }}">--{{ squirrel_query.kuks }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Quaas: <select id="quass" name="quass">
                        <option  value = "{{ squirrel_query.quass }}">--{{ squirrel_query.quass }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Moans: <select id="moans" name="moans">
                        <option  value = "{{ squirrel_query.moans }}">--{{ squirrel_query.moans }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Tail flags: <select id="tail_flags" name="tail_flags">
                        <option  value = "{{ squirrel_query.tail_flags }}">--{{ squirrel_query.tail_flags }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Tail twitches: <select id="tail_twitches" name="tail_twitches">
                        <option  value = "{{ squirrel_query.tail_twitches }}">--{{ squirrel_query.tail_twitches }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Approaches: <select id="approaches" name="approaches">
                        <option  value = "{{ squirrel_query.approaches }}">--{{ squirrel_query.approaches }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Indifferent: <select id="indifferent" name="indifferent">
                        <option  value = "{{ squirrel_query.indifferent }}">--{{ squirrel_query.indifferent }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <p>Runs From: <select id="runs_from" name="runs_from">
                        <option  value = "{{ squirrel_query.runs_from }}">--{{ squirrel_query.runs_from }}--</option >
                        <option  value = "False">False</option >
                        <option  value = "True">True</option >
                    </select></p >
                    <input type="submit" class="btn btn-success" value = 'SUBMIT'>
                </form>
            </div>
            </div>
        </div>
    </body>
</html>
