<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
            <h1>update squirrel</h1>
            <div class="col-md-6 col-md-offset-3">
                <form action="" method="post">
                    <input type="hidden" name="unique_squirrel_id" value="{{ squirrel_query.unique_squirrel_id }}">
                    <p>Longitude: <input type="text" name="longitude" value="{{ squirrel_query.longitude }}" class="form-control"></p>
                    <p>Latitude: <input type="text" name="Latitude" value="{{ squirrel_query.latitude }}" class="form-control"></p>
                    <p>Shift: <input type="text" name="Shift" value="{{ squirrel_query.shift }}" class="form-control"></p>
                    <p>Date: <input type="text" name="Date" value="{{ squirrel_query.date }}" class="form-control"></p>
                    <p>Age: <input type="text" name="Age" value="{{ squirrel_query.age }}" class="form-control"></p>
                    <p>Primary Fur Color: <input type="text" name="Primary Fur Color" value="{{ squirrel_query.primary_fur_color }}" class="form-control"></p>
                    <p>Location: <input type="text" name="Location" value="{{ squirrel_query.location }}" class="form-control"></p>
                    <p>Specific Location: <input type="text" name="Specific Location" value="{{ squirrel_query.specific_location }}" class="form-control"></p>
                    <p>Climbing: <input type="text" name="Climbing" value="{{ squirrel_query.climbing }}" class="form-control"></p>
                    <p>Eating: <input type="text" name="Eating" value="{{ squirrel_query.eating }}" class="form-control"></p>
                    <p>Foraging: <input type="text" name="Foraging" value="{{ squirrel_query.foraging }}" class="form-control"></p>
                    <p>Other Activities: <input type="text" name="Other Activities" value="{{ squirrel_query.other_activities }}" class="form-control"></p>
                    <p>Kuks: <input type="text" name="Kuks" value="{{ squirrel_query.kuks }}" class="form-control"></p>
                    <p>Quaas: <input type="text" name="Quaas" value="{{ squirrel_query.quaas }}" class="form-control"></p>
                    <p>Moans: <input type="text" name="Moans" value="{{ squirrel_query.moans }}" class="form-control"></p>
                    <p>Tail flags: <input type="text" name="Tail flags" value="{{ squirrel_query.tail_flags }}" class="form-control"></p>
                    <p>Tail twitches: <input type="text" name="Tail twitches" value="{{ squirrel_query.tail_twitches }}" class="form-control"></p>
                    <p>Approaches: <input type="text" name="Approaches" value="{{ squirrel_query.approaches }}" class="form-control"></p>
                    <p>Indifferent: <input type="text" name="Indifferent" value="{{ squirrel_query.indifferent }}" class="form-control"></p>
                    <input type="submit" class="btn btn-success">
                </form>

            </div>
            </div>

        </div>
    </body>
</html>
