<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
    <h1>ALL SQUIRRELS</h1>
        <div class="col-md-8 col-md-offset-2">
            <form action="" method="post">
                <table class="table-hover table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>SQUIRRELS</th>
                            <th>AGE</th>
                            <th>RUNNING</th>
                            <th>CHASING</th>
                            <th>RUNS_FROM</th>
                        </tr>
                    </thead>
                    <tobdy>
                        {% for foo in squirrel_list2%}
                            <tr>
                                <td>{{foo.pk}}</td>
                                <td>{{ foo.unique_squirrel_id }}</td>
                                <td>{{ foo.age }}</td>
                                <td>{{ foo.running }}</td>
                                <td>{{ foo.chasing}}</td>
                                <td>{{ foo.runs_from}}</td>
                            </tr>
                        {% endfor %}
                    </tobdy>
                </table>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>